/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
button {
    font-family: "Rowdies", sans-serif;
}

p {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 500;
}

.light-blue-text {
    color: #079DD9;
}

.dark-blue-text {
    color: #084F8C;
}

/* Nav */

nav {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
    font-weight: 500;
}

@media (min-width: 760px) {
    .navbar-toggler {
        margin-right: 50px;
    }
}

/* Main Styles */

main {
    margin-top: 86px;
    /*background: linear-gradient(165deg, #084F8C, #079DD9);*/
    background-color: white;
    max-width: 100vw;
}

/* Footer */

.footer {
    background-color: white;
    padding: 20px 10px;
}

.footer-details p {
    margin: 0;
}

.est-text {
    font-size: 0.6rem;
}

.social-link {
    color: #079DD9;
    font-size: 2rem;
}

/* Hero */

.carousel-inner {
    box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 8px 5px;
}

.hero-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 140, 140, 0.6); /* #8c8c8c with 70% opacity */
    z-index: 1;
}

.carousel-item > img {
    height: 55vh;
    width: 100vw;
    object-fit: cover;
}

.hero-container {
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .carousel-inner {
        border-radius: 2rem;
    }

    .hero-section {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    .hero-section {
        margin-top: 100px;
    }
}

/* Call To Action */

.cta-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    background: linear-gradient(125deg, #079DD9 5%, #084F8C 100%);
    border: 1px solid #084F8C;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 8px 5px;
}
@media (min-width: 576px) {
    .cta-link a {
        width: 240px;
        height: 120px;
        font-size: 1.75rem;
    }
}
@media (min-width: 768px) {
    .cta-link a {
        width: 280px;
        height: 140px;
        font-size: 2rem;
    }
}
@media (min-width: 992px) {
    .cta-link a {
        width: 320px;
        height: 160px;
        font-size: 2.25rem;
    }
}
@media (min-width: 1200px) {
    .cta-link a {
        width: 360px;
        height: 180px;
        font-size: 2.5rem;
    }
}

/* Details Accordion */

.accordion {
    --bs-accordion-border-color: #084f8c;
    --bs-accordion-border-width: 2px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 8px 5px;
}

.accordion-body {
    background-color: #f4ebd0;
}

.accordion-button {
    background-color: #084f8c;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #079dd9;
    color: white;
}

/* Reviews Sections */

.review-section h5,
.review-section p {
    font-weight: 700;
}

/* Map */

.google-map-container {
    height: 40vh;
    max-height: 400px; /* Optional: Limit the maximum height */
}
.google-map {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.5rem; /* Adjust rounding as needed */
    box-shadow: rgba(0, 0, 0, 0.4) 3px 5px 8px 5px;
}
